<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfólio - Profissional</title>
    <link rel="stylesheet" href="/app/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <img class="logo" src="../static/images/LOGO.svg" alt="Logo" />
      <img class="logonome" src="../static/images/LM.svg" alt="Nome" />
      <ul class="headerlista">
        <li><a href="../index.html">PERFIL</a></li>
        <li><a href="acad.html">ACADÊMICO</a></li>
        <li><a href="prof.html" class="active">PROFISSIONAL</a></li>
      </ul>
    </header>

    <main class="main">
      <div class="esquerda">
        <p class="prof-titulo">
          <span>P</span>
          <span>R</span>
          <span>O</span>
          <span>F</span>
          <span>I</span>
          <span>S</span>
          <span>S</span>
          <span>I</span>
          <span>O</span>
          <span>N</span>
          <span>A</span>
          <span>L</span>
        </p>
      </div>

      <div class="direita">
        <div class="codi">
          <p class="subtitu">Experiência Profissional</p>
          <ul class="hard-skills">
            <li>
              <strong>Técnico em Manutenção de Impressoras - RJET Impressoras</strong> (Ago 2022 - Ago 2023)
              <p>
                Fui responsável pelo suporte técnico e manutenção de impressoras, com foco em solucionar problemas técnicos e oferecer atendimento ao cliente.
              </p>
            </li>
            <li>
              <strong>Atendimento ao Cliente - Ômega Monitoramentos</strong> (Dez 2021 - Mai 2022)
              <p>
                Atuei no atendimento ao cliente, auxiliando com questões de monitoramento e proporcionando soluções rápidas para problemas enfrentados pelos clientes.
              </p>
            </li>
            <li>
              <strong>Atendimento ao Cliente - Unity Fibra</strong> (Dez 2020 - Mai 2021)
              <p>
                Trabalhei no atendimento ao cliente, resolvendo dúvidas e questões relacionadas ao serviço de internet e telefonia.
              </p>
            </li>
          </ul>

          <p class="subtitu">Perspectiva Profissional</p>
<p class="cont2">
  A curto prazo, meu foco é encontrar uma oportunidade na área de desenvolvimento de software, visando adquirir o máximo de experiência tanto no back-end quanto no front-end, contribuindo de forma significativa para os projetos. A longo prazo, meu objetivo é me aprofundar em áreas como Inteligência Artificial e desenvolvimento de games, com o intuito de atuar em projetos desafiadores e inovadores.
</p>


        </div>
      </div>
    </main>
  </body>
</html>
